[Desktop Entry]
Version=1.1
Type=Application

TryExec=wraith-master-gtk
Exec=wraith-master-gtk

Name=Wraith Master
Comment=An application for controlling the RGB LEDs on the AMD Wraith Prism CPU cooler
Categories=System;Monitor;HardwareSettings;GTK
Icon=wraith-master
