[Desktop Entry]
Version=1.0
Type=Application
Name=Wraith Master
Comment=An application for controlling the RGB LEDs on the AMD Wraith Prism CPU cooler
Exec=wraith-master-gtk
Icon=wraith-master
